h1 {
    font-family: Arial;
    font-size: xx-large;
    font-weight: bold;
    color: blue;
    text-align: center;
}
h2 {
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 25%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: gray;
    color: black;
    font-weight: bold;
}
td{
    background-color: white;
    color: black;
}


.filme1 {
    font-family: Arial;
    color: darkred;
}

.filme2 {
    font-family: Arial;
    color: darkgreen;
}

.filme3 {
    font-family: Arial;
    color:black;
}

#midia {
    display: flex;
    justify-content: center;
}
